/*
    Manuel Solis Gomez
    Licencia: Libre
    Este archivo se aplica mediante font_face el estilo que deseemos colocar, por familia descargada
*/
@font-face 
{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src:
      local('Open Sans'),
      url(/fonts.woff2) format('woff2'),
      url(/fonts.woff) format('woff'),
      url(/fonts.ttf) format('truetype'),
      url(/fonts.otf) format('opentype'),
      url(/fonts.eot) format('embedded-opentype');
}
@font-face 
{
    font-family: 'Praise';
    font-style: normal;
    font-weight: 400;
    src:
      local('Open Sans'),
      url(/fonts/Praise.woff2) format('woff2'),
      url(/fonts/Praise.woff) format('woff'),
      url(/fonts/Praise.ttf) format('truetype'),
      url(/fonts/Praise.otf) format('opentype'),
      url(/fonts/Praise.eot) format('embedded-opentype');
}
*
{
    margin: 0;
    padding: 0;
    border: 0;
}
h1
{
    font-family: 'Open Sans';
}
h2
{
    font-family: 'Praise';
}
