<!DOCTYPE html>
<!-- Manuel Solís Gómez -->
<HTML>
	<head>
		<meta charset="UTF-8"/>
		<meta type="author" content="Manuel Solis Gomez"/>
		<meta type="description" content="Pagina de inicio de layout"/>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
		<title> Las Mujeres en la Histori de la Informatica </title>
		<link rel="stylesheet" type="text/css" href="css/trabajoPorcentaje.css">
	</head>
	<body>
        <header>

        </header>
        <nav>

        </nav>
        <main>
            <nav>
                <!-- <p>a</p> AÑADIMOS P PARA COMPROBAR QUE CUANDO CAMBIA EL TAMAÑO DEL NAV CAMBIARA SU BLOQUE CONTENEDOR
                <p>b</p>
                <p>c</p>
                <p>d</p>
                <p>e</p>
                <p>f</p>
                <p>g</p>
                <p>h</p>
                <p>a</p>
                <p>a</p>
                <p>a</p>
                <p>a</p> -->
            </nav>
            <article>
            </article>
        </main>
        <footer>

        </footer>
	</body>
</HTML>
